.header{
    background-image:linear-gradient(180deg,rgba($color-1,.7),rgba($color-3,.7)),url("../img/hero.jpg");
    background-position: top;
    background-size: cover;
    height: 95vh;
    position: relative;
    img{
        width: 7rem;
        margin: 3rem;
    }
    &-text{
        position: absolute;
        top:40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
}