.story{
    display: flex;
    background-color: $color-3;
    height: 80vh;
    &-img-1{
        width: 100%;
        grid-area: 2/2/6/6;
    }
    &-img-2{
        width: 120%;
        grid-row: 4/6;
        grid-column: 4/7;
    }
    &-pic{
        flex:0 0 50%;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(6,1fr);  
        background-image: linear-gradient(rgba($color-2,.4),rgba($color-2,.4)),url("../img/back.jpg");
        align-items: center;
    }
    &-content{
        flex:0 0 50%;
        display: grid;
        padding: 6rem 8vw;
        align-content:center;
        justify-items: start;
    }
    &-text{
        font-size: 1.6rem;
    }
}